Django==3.2.1
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap3==15.0.0
django-classy-tags==2.0.0
django-cms==3.8.0
django-crispy-forms==1.13.0
django-filer==2.0.2
django-formtools==2.3
django-heroku==0.3.1
django-js-asset==1.2.2
django-markdown==0.8.4
django-markdown-deux==1.0.5
django-markdownx==3.0.1
django-mptt==0.12.0
django-mysql==3.11.1
django-polymorphic==3.0.0
django-restframework==0.0.1
django-sekizai==2.0.0
django-treebeard==4.5.1
django-zxcvbn-password==2.1.0
djangocms-admin-style==2.0.2
djangocms-background-media==1.0.0
